---
import SearchWidget from '~/components/SearchWidget.astro';
import Favicon from '~/components/Favicon.astro';
import {
  isBuild,
  isProd,
  SITE_DOMAIN,
  SITE_TITLE,
  SITE_URL,
  SITE_DESCRIPTION,
  feedUrls,
} from '~/consts';

export interface Props {
  title?: string;
  excerpt?: string;
  isIndex?: boolean;
}

const { title, excerpt, isIndex } = Astro.props as Props;

const preconnectUrls = ['https://cdnjs.cloudflare.com'];

const metaTitle = title // Astro.props.title
  ? `${title} • ${SITE_TITLE}` // `${Astro.props.title} • ${SITE_TITLE}`
  : SITE_TITLE;

const metaDescription = excerpt ?? SITE_DESCRIPTION;
const domain = SITE_DOMAIN.toUpperCase();

/* canonicalURL
 * ------------
 * @sources:
 * https://github.com/yuheiy/yuheiy.com-v6/blob/main/src/components/Layout.astro
 * https://github.com/yamanoku/archives/blob/main/src/components/BaseHead.astro
 */
const normalizedPathname = Astro.url.pathname.replace(/\.html$/, '');
const canonicalURL: URL = new URL(normalizedPathname, Astro.site);
const permalink = `${canonicalURL.href}`;
//const pathName = canonicalURL.pathname.split('/').join('');
//const ogpImageURL = canonicalURL.pathname === '/'
//? new URL('/assets/images/ogp-image.png', Astro.url)
//: new URL(`/og/${pathName}.png`, Astro.url)
---

<!-- TODO: 使用capo.js排序 https://rviscomi.github.io/capo.js/ -->
<meta charset='utf-8' />
<meta
  name='viewport'
  content='width=device-width,initial-scale=1, maximum-scale=5'
/>
<base href={SITE_URL} />
<title>{metaTitle}</title>
{preconnectUrls.map((url) => <link rel='preconnect' href={url} crossorigin />)}
{isProd && <SearchWidget />}
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.js'
  referrerpolicy='no-referrer'></script>
<link href='/assets/han.min.css' rel='stylesheet' media='all' />
<!-- <meta name='disabled-adaptations' content='watch' /> -->
<meta name='view-transition' content='same-origin' />
<meta
  name='format-detection'
  content='telephone=no, date=no, address=no, email=no'
/>
<meta name='title' content={metaTitle} />
<meta name='description' content={metaDescription} />
<link rel='canonical' href={canonicalURL} data-pagefind-meta='url[href]' />
<Favicon />
{
  isIndex ? (
    <meta
      name='robots'
      content='index, follow, noarchive, noai, noimageai, max-snippet:-1, max-video-preview:-1, max-image-preview:large'
    />
  ) : (
    <meta
      name='robots'
      content='noindex, noimageindex, nofollow, noarchive, noai, noimageai'
    />
  )
}
<!-- { isProd && (<>...</>} -->
<link
  href={feedUrls.atom}
  rel='alternate'
  title={`ATOM Feed for ${domain}`}
  type='application/atom+xml'
/>
<link
  href={feedUrls.json}
  rel='alternate'
  title={`JSON Feed for ${domain}`}
  type='application/json'
/>
<!-- @source:
https://github.com/yrnana/yrnana.github.io/blob/main/src/components/common/PageMeta.astro
-->
