---
import { ViewTransitions } from 'astro:transitions'
import siteInfo, { feedUrls } from '../consts.ts'
import { metaSchema } from '../schema.js'
import { formatISOString } from '../utilities/date.utils.js'
import { removeTrailingSlash } from '../utilities/getPermaLink.js'
import Critical from './Critical.astro'
import Favicon from './Favicon.astro'
import Me from './Me.astro'

const pageInfo = metaSchema.parse(Astro.props.pageInfo)
const titleSeparator = '•'
const metaTitle = pageInfo.title
  ? `${pageInfo.title} ${titleSeparator} ${siteInfo.title}`
  : siteInfo.title
const metaDescription = pageInfo.abstract ?? siteInfo.description
const nicePublishDate = formatISOString(pageInfo.publishDate)
const niceUpdatedDate = formatISOString(pageInfo.updatedDate)
const siteDomain = siteInfo.domain.toUpperCase()
const normalizedPathname = Astro.url.pathname
  .replace(/\.html$/, '')
  .split('/')
  .join('')
const canonicalUrl: URL = new URL(
  removeTrailingSlash(normalizedPathname),
  siteInfo.siteBase,
)
---

<!-- 使用 astro-capo 排序 ( https://github.com/natemoo-re/astro-capo ) -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1.0' />
<title>{metaTitle}</title>
<Critical />
<!-- <meta name='disabled-adaptations' content='watch' /> -->
<meta name='view-transition' content='same-origin' />
<meta
  name='format-detection'
  content='telephone=no, date=no, address=no, email=no'
/>
<meta name='title' content={metaTitle} />
<meta name='description' content={metaDescription} />
<link rel='canonical' href={canonicalUrl} data-pagefind-meta='url[href]' />
<Favicon />
<!-- https://developers.google.com/search/docs/crawling-indexing/robots-meta-tag -->
<!-- noai/noimageai 不是通用規則 -->
{
  pageInfo.publishDate && (
    <meta property='article:published_time' content={nicePublishDate} />
  )
}
{
  pageInfo.updatedDate && (
    <meta property='article:modified_time' content={niceUpdatedDate} />
  )
}
<link
  href={feedUrls.atom}
  rel='alternate'
  title={`ATOM Feed for ${siteDomain}`}
  type='application/atom+xml'
/>
<link
  href={feedUrls.json}
  rel='alternate'
  title={`JSON Feed for ${siteDomain}`}
  type='application/feed+json'
/>
<link
  href='/sitemap.xml'
  rel='sitemap'
  title={`Sitemap for ${siteDomain}`}
  type='application/xml'
/>
<meta name='generator' content='Backdrop CMS (http://backdropcms.org)' />
{
  pageInfo.prev && (
    <link rel='prev' aria-label='Previous page' href={pageInfo.prev} />
  )
}
{
  pageInfo.next && (
    <link rel='next' aria-label='Next page' href={pageInfo.next} />
  )
}
<ViewTransitions />
<Me />
<!-- TODO: og images
https://www.ogimage.gallery/
-->
<!-- @source:
- https://seo.box/
- https://github.com/yrnana/yrnana.github.io/blob/main/src/components/common/PageMeta.astro
- https://github.com/yuheiy/yuheiy.com-v6/blob/main/src/components/Layout.astro
- https://github.com/yamanoku/archives/blob/main/src/components/BaseHead.astro
-->
