---
import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'
import '../styles/layout_post.js'
import { Moon } from 'lunarphase-js'
import BaseHead from '~/components/BaseHead.astro'
import Hant from '~/components/Hant.astro'
// import Heti from '~/components/Heti.astro'
import FormattedDate from '~/components/FormattedDate.astro'
import Bar from '~/components/Bar.astro'
import Footer from '~/components/Footer.astro'
import {
  formatISOString,
  getHemisphere,
  yearPast,
} from '~/utilities/date.utils'
import { HTM_LANG } from '~/consts'

interface Props {
  post: CollectionEntry<'then'>
  headings: MarkdownHeading[]
}

const { post, headings } = Astro.props
const {
  data: { title, publishDate, updatedDate, prev, next },
} = post

const postDate = formatISOString(publishDate)
const moonEmoji = Moon.lunarPhaseEmoji(new Date(postDate), {
  hemisphere: getHemisphere(publishDate), //Hemisphere.NORTHERN,
})
---

<!doctype html>
<html
  dir='ltr'
  lang={HTM_LANG}
  class='han-init'
  prefix='og: https://ogp.me/ns# article: https://ogp.me/ns/article# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <head>
    <BaseHead title={title} />
    <slot name='meta' />
  </head>
  <body>
    <Bar />
    <!-- TODO: microformats
    - https://developer.mozilla.org/en-US/docs/Web/HTML/microformats
    - https://developers.google.com/search/docs/appearance/structured-data/article
    - https://www.w3.org/TR/xhtml-rdfa-primer/#default_prefixes
    -->
    <div id='wrapper'>
      <article class='h-entry heti'>
        <header class='entry-header'>
          <h1
            class='entry-title p-name'
            data-pagefind-meta='title'
            transition:name={`blog-${title}-title`}
          >
            <span class='entry-title-text'>{title}</span>
          </h1>
          <dl class='entry-meta'>
            <!-- timestamp -->
            <div class='entry-meta-item'>
              <dt class='entry-meta-label'>Created at</dt>
              <dd class='entry-meta-value'>
                <FormattedDate date={publishDate} />
              </dd>
            </div>
            <!-- Year Progress Bar -->
            <div class='entry-meta-item'>
              <dt class='entry-meta-label'>Year</dt>
              <dd class='entry-meta-value'>{yearPast(publishDate)}</dd>
            </div>
            <!-- updatedDate -->
            {
              updatedDate && (
                <div class='entry-meta-item'>
                  <dt class='entry-meta-label'>Updated at</dt>
                  <dd class='entry-meta-value'>
                    <FormattedDate
                      date={updatedDate}
                      class='dt-updated'
                      itemprop='dateUpdated'
                    />
                  </dd>
                </div>
              )
            }
            <!-- Moon -->
            <div class='entry-meta-item'>
              <dt class='entry-meta-label'>Moon</dt>
              <dd class='entry-meta-value'>{moonEmoji}</dd>
            </div>
          </dl>
        </header>
        <section data-pagefind-body class='markdown entry-content e-content'>
          <slot />
        </section>
        <!-- 左箭頭：&larr;  v.  右箭頭&rarr; -->
        {
          (prev || next) && (
            <nav class='pager post-pagination' data-pagefind-ignore>
              {prev && (
                <span class='left stack'>
                  <a href={prev} rel='prev'>
                    &laquo;&nbsp;Prev
                  </a>
                </span>
              )}
              {next && (
                <span class='right stack'>
                  <a href={next} rel='next'>
                    Next&nbsp;&raquo;
                  </a>
                </span>
              )}
            </nav>
          )
        }
        <Footer />
      </article>
      <Hant />
      <!-- <Heti /> -->
    </div>
  </body>
</html>
