---
import BaseLayout from '~/layouts/BaseLayout.astro';
import BaseHead from '~/components/BaseHead.astro';
import GlobalStyles from '~/components/GlobalStyles.astro';
import FormattedDate from '~/components/FormattedDate.astro';
import Hant from '~/components/Hant.astro';
import { HTM_LANG, RSS_LANG } from '~/consts';
---

<!doctype html>
<html
  dir='ltr'
  lang={HTM_LANG}
  class='han-init'
  xmlns='http://www.w3.org/1999/xhtml'
  xml:lang={RSS_LANG}
  prefix='og: https://ogp.me/ns# article: https://ogp.me/ns/article# cc: http://creativecommons.org/ns#'
>
  <head>
    <BaseHead {...Astro.props} />
    <GlobalStyles />
    <slot name='meta' />
  </head>
  <body>
    <BaseLayout>
      <Fragment slot='main'>
        <!-- TODO: microformats
        https://indieweb.org/posts#Types_of_Posts
        https://docs.joinmastodon.org/spec/microformats/
        -->
        <main
          data-pagefind-body
          class='h-entry'
          itemprop='mainEntity'
          itemscope=''
          itemtype='https://schema.org/BlogPosting'
          itemid={Astro.props.slug}
        >
          <article class='blog_post'>
            <div class='blog_post_meta'>
              <FormattedDate date={Astro.props.publishDate} />
              <!---
                {
                category && (
                  <>
                    ・
                    <a
                      class="blog_post_meta_category"
                      href={`/categories/${category.slug}/`}
                    >
                      {category.name}
                    </a>
                  </>
                )
              }-->
            </div>
            <h1 class='blog_post_title' itemprop='name'>
              {Astro.props.title}
            </h1>
            <div class='markdown' itemprop='text'>
              <slot />
            </div>
          </article>
        </main>
      </Fragment>
      <Hant />
    </BaseLayout>
  </body>
</html>
