---
// import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'
import '../styles/layout_post.js'
import { Moon } from 'lunarphase-js'
import BaseHead from '~/components/BaseHead.astro'
import Hant from '~/components/Hant.astro'
// import Heti from '~/components/Heti.astro'
import Header from '~/components/Header.astro'
import FormattedDate from '~/components/FormattedDate.astro'
import Footer from '~/components/Footer.astro'
import { formatISOString, getHemisphere } from '~/utilities/date.utils'
// import { getPostDescription } from '~/utilities/generateRSSFeed'
import siteInfo from '~/consts'

const { post } = Astro.props
const { data, slug } = post

const metaDescription = data.abstract ? data.abstract : siteInfo.description // getPostDescription(post)
const prevPage = data.prev ? data.prev : undefined
const nextPage = data.next ? data.prev : undefined
const hasRecommendations = prevPage || nextPage
const postDate = formatISOString(data.publishDate)
const moonEmoji = Moon.lunarPhaseEmoji(new Date(postDate), {
  hemisphere: getHemisphere(data.publishDate), // Hemisphere.NORTHERN,
})

const pageInfo = {
  title: data.title,
  abstract: metaDescription,
  isIndex: data.isIndex,
  publishDate: data.publishDate,
  updatedDate: data.updatedDate ? data.updatedDate : undefined,
  prev: prevPage,
  next: nextPage,
}
---

<!doctype html>
<html
  dir='ltr'
  lang={siteInfo.langFull}
  class='han-init'
  prefix='og: https://ogp.me/ns# article: https://ogp.me/ns/article# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <head>
    <BaseHead {pageInfo} />
    <slot name='meta' />
  </head>
  <body>
    <Header />
    <!-- TODO: microformats
    - https://developer.mozilla.org/en-US/docs/Web/HTML/microformats
    - https://developers.google.com/search/docs/appearance/structured-data/article
    - https://www.w3.org/TR/xhtml-rdfa-primer/#default_prefixes
    -->
    <main id='main-content'>
      <article
        class='h-entry heti'
        data-pagefind-body
        data-pagefind-meta='kind:weblog'
      >
        <header class='entry-header'>
          <h1
            class='entry-title p-name'
            data-pagefind-meta='title'
            transition:name={`blog-${slug}-title`}
          >
            <span class='entry-title-text'>{data.title}</span>
          </h1>
          <div class='entry-meta'>
            <!-- timestamp(moon phases emoji) -->
            <span class='entry-meta-label-text'>Posted on </span>
            {moonEmoji}<FormattedDate date={data.publishDate} />
            <!-- updatedDate -->
            {
              data.updatedDate && (
                <Fragment>
                  <span class='entry-meta-label-separator'>·</span>
                  <span class='entry-meta-label-text'>Updated on</span>
                  <FormattedDate
                    date={data.updatedDate}
                    class='dt-updated'
                    itemprop='dateUpdated'
                  />
                </Fragment>
              )
            }
          </div>
        </header>
        <div class='markdown entry-content e-content'>
          <slot />
        </div>
        <!-- 左箭頭：&larr;  v.  右箭頭&rarr; -->
        {
          hasRecommendations && (
            <nav
              class='pager post-pagination'
              aria-label='Pagination'
              data-pagefind-ignore
            >
              {prevPage && (
                <span class='left stack'>
                  <a
                    href={prevPage}
                    rel='prev'
                    aria-label='Go to previous page'
                  >
                    &laquo;&nbsp;Prev
                  </a>
                </span>
              )}
              {nextPage && (
                <span class='right stack'>
                  <a href={nextPage} rel='next' aria-label='Go to next page'>
                    Next&nbsp;&raquo;
                  </a>
                </span>
              )}
            </nav>
          )
        }
      </article>
    </main>

    <Footer />
    <Hant /><!-- or <Heti /> -->
  </body>
</html>
