---
import { Head } from 'astro-capo'
import { fade } from 'astro:transitions'
import { Moon } from 'lunarphase-js'
import BaseHead from '../components/BaseHead.astro'
import '../styles/layout_post.js'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import OutdateTip from '../components/OutdateTip.astro'
// import PictureZoom from '../components/PictureZoom.svelte'
import ProseScript from '../components/ProseScript.astro'
import siteInfo from '../consts.ts'
import { formatISOString, getHemisphere } from '../utilities/date.utils.js'
// import { getPostDescription } from '../utilities/generateRSSFeed.js'
import SegmentService from '../utilities/render.ts'

const { post, updatedDate } = Astro.props
const { data, slug } = post

const isOld =
  data.publishDate < new Date(Date.now() - 31536000000) &&
  (updatedDate === undefined ||
    updatedDate < new Date(Date.now() - 31536000000))
const metaDescription = data.abstract ?? siteInfo.description // getPostDescription(post)
const prevPage = data.prev ? data.prev : undefined
const nextPage = data.next ? data.prev : undefined
const prevPageTitle = data.prevTitle ? data.prevTitle : 'previous page'
const nextPageTitle = data.nextTitle ? data.nextTitle : 'next page'
const hasRecommendations = prevPage || nextPage
const postDate = formatISOString(data.publishDate)
const moonEmoji = Moon.lunarPhaseEmoji(new Date(postDate), {
  hemisphere: getHemisphere(data.publishDate), // Hemisphere.NORTHERN,
})
const encoder = new TextEncoder()
const bytes = encoder.encode(post.body).byteLength

const pageInfo = {
  title: data.title,
  abstract: metaDescription,
  isIndex: data.isIndex,
  publishDate: data.publishDate,
  updatedDate: updatedDate ? updatedDate : undefined,
  prev: prevPage,
  next: nextPage,
  prevTitle: prevPageTitle,
  nextPageTitle: nextPageTitle,
}
---

<!doctype html>
<html
  dir='ltr'
  lang={siteInfo.langFull}
  class='han-init'
  prefix='og: https://ogp.me/ns# article: https://ogp.me/ns/article# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <Head>
    <BaseHead {pageInfo} />
    {
      pageInfo.isIndex === false ? (
        <meta
          name='robots'
          content='noindex, noimageindex, nofollow, noarchive, noai, noimageai'
        />
      ) : (
        <meta
          name='robots'
          content='index, noimageindex, follow, noarchive, noai, noimageai, max-snippet:-1, max-video-preview:-1, max-image-preview:large'
        />
      )
    }
    <slot name='meta' />
  </Head>
  <body class='bg-main text-main'>
    <!-- TODO: microformats
    - https://developer.mozilla.org/en-US/docs/Web/HTML/microformats
    - https://developers.google.com/search/docs/appearance/structured-data/article
    - https://www.w3.org/TR/xhtml-rdfa-primer/#default_prefixes
    -->
    <div class='container'>
      <main id='main-content' class='row'>
        <article class='h-entry col c-12'>
          <!-- 1. <header>entry meta</header> -->
          <header class='mb-8'>
            <!-- 1.1 post title -->
            <h1
              class='entry-title p-name'
              data-pagefind-meta='title'
              transition:name={`blog-${slug}-title`}
              transition:animate={fade({ duration: 1000 })}
            >
              <Fragment set:html={SegmentService.segment(data.title)} />
            </h1>
            <!-- 1.2 post timestamp ( 1.moon phases emoji  2.date ) -->
            <div class=''>
              <span class='screen-reader'>Posted on </span>
              {moonEmoji}
              <FormattedDate date={data.publishDate} />
              <!-- updatedDate -->
              {
                data.updatedDate && (
                  <Fragment>
                    {/* • · */}
                    <span class='entry-meta-label-separator'>{' • '}</span>
                    <span class='entry-meta-label-text'>Updated on</span>
                    <FormattedDate
                      date={data.updatedDate}
                      class='dt-updated'
                      itemprop='dateUpdated'
                    />
                  </Fragment>
                )
              }
            </div>
          </header>
          <!-- 2. <div>entry content</div> -->
          <div
            class='entry-content e-content heti markdown'
            data-pagefind-body
            data-pagefind-meta='kind:weblog'
          >
            {isOld ? <OutdateTip /> : null}
            <slot />
          </div>
          {bytes} bytes
        </article>
        <!-- 左箭頭：&larr; / &laquo;&nbsp;  v.  右箭頭&rarr; / &nbsp;&raquo; -->
        {
          hasRecommendations && (
            <nav
              class='pager post-pagination col c-12'
              aria-label='Pagination'
              data-pagefind-ignore
            >
              <h2 class=''>Read Next</h2>
              <div class=''>
                {prevPage && (
                  <h3 class='text-xl sm:text-2xl mb-5 sm:mb-7'>
                    <a
                      data-astro-prefetch
                      href={prevPage}
                      rel='prev'
                      aria-label='Go to previous page'
                    >
                      <Fragment
                        set:html={SegmentService.segment(prevPageTitle)}
                      />
                    </a>
                  </h3>
                )}
                {nextPage && (
                  <h3 class='text-xl sm:text-2xl'>
                    <a
                      data-astro-prefetch
                      href={nextPage}
                      rel='next'
                      aria-label='Go to next page'
                    >
                      <Fragment
                        set:html={SegmentService.segment(nextPageTitle)}
                      />
                    </a>
                  </h3>
                )}
              </div>
            </nav>
          )
        }
      </main>
      <Footer />
    </div>
    <!-- TODO: ProseScript -->
    <!-- https://github.com/wry-red/site/blob/main/src/components/ProseScript.astro -->
    <ProseScript />
    <!-- <PictureZoom client:load /> -->
  </body><style is:inline>
    .entry-content:global(.js-enabled p > img),
    .entry-content:global(.js-enabled figure img) {
      transition: 0.25s;
    }

    .entry-content:global(.js-enabled p > img:hover),
    .entry-content:global(.js-enabled figure img:hover) {
      transform: scale(1.03);
      cursor: pointer;
    }

    .overlay-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000a;
    }

    .overlay-image img {
      max-height: 80%;
      max-width: 80%;
    }
  </style>
</html>
